{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">First_name</th>
        <th scope="col">Last_name</th>
        <th scope="col">Email</th>
        <th scope="col">City</th>
        <th scope="col">Id</th>
      </tr>
      
      {% if records %}
{% for record in records  %}
<tr>
 <td>{{record.first_name}}</td>
 <td>{{record.last_name}}</td>
 <td>{{record.email}}</td>
 <td>{{record.city}}</td>
 <td><a href="{% url "record" record.id %}">{{record.id}}</a></td>
</tr>
{% endfor %}
{% endif %}
    </thead>
    <tbody>
    </tbody>
</table>

{% else %}
<div class="col-md-6 offset-md-3 mt-5">
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    {% endif %}
</div>
{% endblock content %}